$default-margin : 20px;

$paper          : #F4F4F4;
$gold           : #C0B283;
$silk           : #DCD0C0;
$gray-light     : #e1e1e1;
$gray-medium    : #aaa;
$green          : #2ecc71;
$white          : #fff;
$black          : #373737;

$side-nav-link-color: $gold;
$primary-color: $black;
$body-font-family: 'Open Sans', sans-serif;