@import "variables";
@import "settings";
@import "foundation";



body {
  background-color: $paper;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Glass Antiqua', cursive;
  font-size: 4em;
  color: $paper;
  padding-top: 0.1em;
}

h3 {
  font-family: 'Glass Antiqua', cursive;
  color: $gold;
  padding-top: 0.3em;
}

p {
  color: $black;
  &.secondary {
    font-size: 0.8em;
    margin:  0em;
    font-style: italic;
  }
}

a {
  color: $silk;
}

.draggableDropzone {
  height: 20vh;
  display: block;
  border: 3px dashed $gray-medium;
  // padding: 1em;
  width: 100%;
  // min-height: $default-margin * 2.5;
  color: $black;
  // margin-bottom: $default-margin / 2;
  &.activated {
    border-color: $green;
  }
  &.deactivated {
    border-color: $gray-light;
  }
}

.draggableItem[draggable=true] {
  display: inline-block;
  min-width: $default-margin;
  min-height: $default-margin;
  background: $gray-light;
  padding: $default-margin / 4 $default-margin / 2;
  margin: $default-margin / 4;
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
  &:hover {
    background-color: $gray-medium;
  }

}

.sidebar {
  height: 60vh;
  overflow-y: scroll;
  p {
    font-family: 'Muli', serif;
  }
}

.heading-text {
  height: 15vh;
  background-color: $black;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
}

.recipe-info {
  height: 15vh;
  overflow-y: scroll;
}

.recipe-ing {
  height: 20vh;
  overflow-y: scroll;
}

.ingredient-list {
  height: 20vh;
  overflow-y: scroll;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: $black;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}