<div class="small-8 columns">
<h3>Welcome!</h3>
<br>
<p>Thanks for checking out this demo. I built it to learn how drag and drop works in Ember.JS using HTML5.</p>
<p>Click on a recipe on the left (or add your own), and then drag ingredients onto it.</p>
<p>If you liked this, please check out more about me on <a href="http://andrewreid.xyz" target="_blank">my website.</a></p>
</div>
{{yield}}
