<form>
    <div class="row collapse" >
      <div class="small-4 columns">
        {{input value=ingredientName placeholder="Add new ingredient"}}
      </div>
      <div class="small-2 columns end">
        <button class="button postfix" {{action "createIngredient" ingredientName}}>Create</button>
      </div>
    </div>
</form>
{{yield}}
