<div class="row">
  <div class="small-12 columns recipe-list">
    <p>All ingredients:</p>
    {{#each model as |ingredient|}}
    <p class="button tiny round">{{ingredient.name}}</p>
    {{/each}}
  </div>
</div>
{{yield}}
