<div class="main">
<div class="hero text-center heading-text">
  {{#link-to 'recipes.index'}}<h1 id="title">Drag & Drop Recipe Book</h1>{{/link-to}}
</div>
<div class="row">
    {{outlet}}
</div>

</div>
