<div class="row text-center">
  <br><br><br>
  <h3>Loading</h3>
  <p>Hi there. If no one has accessed it in an hour, it will take a minute for the servers to wake up again. Thanks for being patient!</p>
  <div class="spinner"></div>
</div>
